<a href="https://colab.research.google.com/github/pLe98/pracirwa/blob/main/IRWA_Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

li3 = [i+j for i ,j in zip(list1, list2)]
print(li3)

['My', 'name', 'is', 'Kelly']

In [6]:
List1 = [1, 2, 3, 4, 5, 6, 7]
res = [pow(item, 2) for item in List1 ]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [26]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2 = list2[::-1]

for i,j in zip(list1, list2):
  print(i , j)

10 400
20 300
30 200
40 100

In [1]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sublist = ["h", "i", "j"]

list1[2][1][2].extend(sublist)
 
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [3]:
list1 = [5, 20, 15, 20, 25, 50, 20]
li = [item for item in list1 if item != 20]
print(li)

[5, 15, 25, 50]

In [6]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res = {keys[i]: values[i] for i in range(len(keys))}
print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [10]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

print({**dict1, **dict2})

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [14]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"

}
keysToRemove = ["name", "salary"]

for i in keysToRemove:
  sampleDict.pop(i)

print(sampleDict)

{'age': 25, 'city': 'New york'}

In [17]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"

}
keys = ["name", "salary"]

dict = {i:sampleDict[i] for i in keys}

print(dict)

{'name': 'Kelly', 'salary': 8000}

In [20]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
li = []
for i in list1:
  if i%5 ==0:
    li.append(i)
  if i == 150:
    break
print(li)

[15, 55, 75, 150]

In [21]:
print([i for i in range(4,30) if i%2==0])

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [25]:
input_str = "P@#yn26at^&i5ve"

print('lower - ' ,sum(1 for c in input_str if c.islower()))
print('upper - ' ,sum(1 for c in input_str if c.isupper()))
print('numeric - ' ,sum(1 for c in input_str if c.isnumeric()))
print('symbsymbol - ' ,sum(1 for c in input_str if c.isalpha()))

lower -  7
upper -  1
numeric -  3
symbsymbol -  8

In [43]:
s = 'pynativepynvepynative'
li2 = set([i for i in 'pynativepynvepynative'])
#print(li2)

dic = {i:s.count(i) for i in s}
print(dic)

{'p', 'i', 'y', 't', 'v', 'e', 'n', 'a'}
{'p': 3, 'y': 3, 'n': 3, 'a': 2, 't': 2, 'i': 2, 'v': 3, 'e': 3}

In [47]:
import random as rd

for i in range(6):
  rd.seed(251)
  print(rd.randrange(1,6))

4
4
4
4
4
4